
@{
    ViewBag.Title = "Index";
}
<img src="~/img/9159a7ba710db49.jpg " alt="sách" style="width:100%;height:333px" />
<div class="container col-md-12">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a>
            <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <fieldset>
            <legend><a a href="#">New products </a></legend>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">
                            @{
                                var b = 0;
                                while (b < 4)
                                {
                                    b++;
                                    <div class="itm col-xs-3 col-lg-3">
                                        <div class="thumbnail">
                                            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                            <div class="caption">
                                                <h4 class="group inner list-group-item-heading">
                                                    Product title
                                                </h4>
                                                <p class="group inner list-group-item-text">
                                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                </p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <p class="lead">
                                                            $21.000
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Chi tiết</a>
                                                    </div>
                                                </div> <!--end row-->
                                            </div> <!--end caption-->
                                        </div> <!--thumbnail-->
                                    </div> <!--end itm-->

                                }
                            }
                        </div>
                    </div>
                    @{
                        for (int i = 0; i < 2; i++)
                        {
                            b = 0;
                            <div class="item">
                                <div class="row-fluid">
                                    @while (b < 4)
                                    {
                                        b++;
                                        <div class="itm  col-xs-3 col-lg-3">
                                            <div class="thumbnail">
                                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                                <div class="caption">
                                                    <h4 class="group inner list-group-item-heading">
                                                        Product title
                                                    </h4>
                                                    <p class="group inner list-group-item-text">
                                                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <p class="lead">
                                                                $21.000
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Chi tiết</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    } <!--end while-->
                                </div><!--end row-fluid-->
                            </div><!--end item-->
                        }
                    }
                </div> <!--end inner-carousel-->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div> <!--end carousel-->
        </fieldset>
    </div> <!--end row-list-group-->
    <div id="top-products" class="row list-group">
        <fieldset>
            <legend><a href="#">Top products</a></legend>
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">
                            @{
                                b = 0;
                                while (b < 4)
                                {
                                    b++;
                                    <div class="itm col-xs-3 col-lg-3">
                                        <div class="thumbnail">
                                            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                            <div class="caption">
                                                <h4 class="group inner list-group-item-heading">
                                                    Product title
                                                </h4>
                                                <p class="group inner list-group-item-text">
                                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                </p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <p class="lead">
                                                            $21.000
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Chi tiết</a>
                                                    </div>
                                                </div> <!--end row-->
                                            </div> <!--end caption-->
                                        </div> <!--thumbnail-->
                                    </div> <!--end itm-->

                                }
                            }
                        </div>
                    </div>
                    @{
                        for (int i = 0; i < 2; i++)
                        {
                            b = 0;
                            <div class="item">
                                <div class="row-fluid">
                                    @while (b < 4)
                                    {
                                        b++;
                                        <div class="itm  col-xs-3 col-lg-3">
                                            <div class="thumbnail">
                                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                                <div class="caption">
                                                    <h4 class="group inner list-group-item-heading">
                                                        Product title
                                                    </h4>
                                                    <p class="group inner list-group-item-text">
                                                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <p class="lead">
                                                                $21.000
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Chi tiết</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    } <!--end while-->
                                </div><!--end row-fluid-->
                            </div><!--end item-->
                        }
                    }
                </div> <!--end inner-carousel-->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
            </div> <!--end carousel-->
        </fieldset>
    </div> <!--end row-list-group-->
</div> <!--end container 9 left-->
