USE [master]
GO
/****** Object:  Database [Emo_Dictionary]    Script Date: 03/08/2018 7:28:13 CH ******/
CREATE DATABASE [Emo_Dictionary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Emo_Dictionary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NAM\MSSQL\DATA\Emo_Dictionary.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Emo_Dictionary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NAM\MSSQL\DATA\Emo_Dictionary_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emo_Dictionary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emo_Dictionary]
GO
/****** Object:  Table [dbo].[DAC_TRUNG_CAM_XUC]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAC_TRUNG_CAM_XUC](
	[EID] [bigint] IDENTITY(1,1) NOT NULL,
	[THUC_THE_CAM_XUC] [nvarchar](30) NOT NULL,
	[HAT_GIONG] [bit] NOT NULL,
 CONSTRAINT [PK_DAC_TRUNG_CAM_XUC] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAC_TRUNG_NGU_NGHIA]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DAC_TRUNG_NGU_NGHIA](
	[ID] [char](5) NOT NULL,
	[THUC_THE] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DAC_TRUNG_NGU_NGHIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRONG_SO]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRONG_SO](
	[ID] [char](5) NOT NULL,
	[EID] [bigint] NOT NULL,
	[TRONG_SO] [int] NOT NULL,
	[KHIA_CANH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TRONG_SO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DAC_TRUNG_CAM_XUC] ON 

INSERT [dbo].[DAC_TRUNG_CAM_XUC] ([EID], [THUC_THE_CAM_XUC], [HAT_GIONG]) VALUES (1, N'rất hay', 0)
INSERT [dbo].[DAC_TRUNG_CAM_XUC] ([EID], [THUC_THE_CAM_XUC], [HAT_GIONG]) VALUES (14, N'thú vị', 1)
INSERT [dbo].[DAC_TRUNG_CAM_XUC] ([EID], [THUC_THE_CAM_XUC], [HAT_GIONG]) VALUES (15, N'hết sức thú vị', 0)
GO
SET IDENTITY_INSERT [dbo].[DAC_TRUNG_CAM_XUC] OFF
INSERT [dbo].[DAC_TRUNG_NGU_NGHIA] ([ID], [THUC_THE]) VALUES (N'B    ', N'bìa')
INSERT [dbo].[DAC_TRUNG_NGU_NGHIA] ([ID], [THUC_THE]) VALUES (N'BC   ', N'Bố cục')
INSERT [dbo].[DAC_TRUNG_NGU_NGHIA] ([ID], [THUC_THE]) VALUES (N'CD   ', N'chủ đề')
INSERT [dbo].[TRONG_SO] ([ID], [EID], [TRONG_SO], [KHIA_CANH]) VALUES (N'B    ', 14, 1, N'Tổng quát')
INSERT [dbo].[TRONG_SO] ([ID], [EID], [TRONG_SO], [KHIA_CANH]) VALUES (N'B    ', 15, 3, N'Tổng quát')
INSERT [dbo].[TRONG_SO] ([ID], [EID], [TRONG_SO], [KHIA_CANH]) VALUES (N'B    ', 16, 3, N'Tổng quát')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DAC_TRUN__2567B90E0B237C45]    Script Date: 03/08/2018 7:28:13 CH ******/
ALTER TABLE [dbo].[DAC_TRUNG_CAM_XUC] ADD  CONSTRAINT [UQ__DAC_TRUN__2567B90E0B237C45] UNIQUE NONCLUSTERED 
(
	[THUC_THE_CAM_XUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DAC_TRUN__FD088F757E90C00B]    Script Date: 03/08/2018 7:28:13 CH ******/
ALTER TABLE [dbo].[DAC_TRUNG_NGU_NGHIA] ADD  CONSTRAINT [UQ__DAC_TRUN__FD088F757E90C00B] UNIQUE NONCLUSTERED 
(
	[THUC_THE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRONG_SO]  WITH CHECK ADD  CONSTRAINT [FK_TRONG_SO_CO_DAC_TRUN] FOREIGN KEY([EID])
REFERENCES [dbo].[DAC_TRUNG_CAM_XUC] ([EID])
GO
ALTER TABLE [dbo].[TRONG_SO] CHECK CONSTRAINT [FK_TRONG_SO_CO_DAC_TRUN]
GO
ALTER TABLE [dbo].[TRONG_SO]  WITH CHECK ADD  CONSTRAINT [FK_TRONG_SO_CO1_DAC_TRUN] FOREIGN KEY([ID])
REFERENCES [dbo].[DAC_TRUNG_NGU_NGHIA] ([ID])
GO
ALTER TABLE [dbo].[TRONG_SO] CHECK CONSTRAINT [FK_TRONG_SO_CO1_DAC_TRUN]
GO
/****** Object:  StoredProcedure [dbo].[SP_LayTrongSo]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayTrongSo]
@Thuc_the_y_nghia nvarchar(30),
@Thuc_the_cam_xuc nvarchar(30)
AS
DECLARE @ID char(5),@EID bigint
select @ID = ID from dbo.DAC_TRUNG_NGU_NGHIA where THUC_THE = @Thuc_the_y_nghia
select @EID = EID from dbo.DAC_TRUNG_CAM_XUC where THUC_THE_CAM_XUC = @Thuc_the_cam_xuc
select TRONG_SO,KHIA_CANH from TRONG_SO where ID =@ID and EID = @EID

GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiem]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TimKiem]
@Term nvarchar(30)
AS
DECLARE @RET int = 1
	IF (NOT EXISTS ( SELECT * FROM DAC_TRUNG_CAM_XUC WHERE THUC_THE_CAM_XUC = @Term))
		IF(NOT EXISTS (SELECT * FROM DAC_TRUNG_NGU_NGHIA WHERE THUC_THE = @Term))
			SET @RET= 0
		ELSE
			SET @RET= 2
    SELECT @RET

GO
/****** Object:  StoredProcedure [dbo].[SP_Them]    Script Date: 03/08/2018 7:28:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Them] 
@ID char(5),
@Thuc_the_cam_xuc nvarchar(30),
@Trong_so int,
@Hat_giong bit,
@Khia_Canh nvarchar(20)
AS
BEGIN
DECLARE @EID bigint,@RET int = 1

begin try
		INSERT INTO DAC_TRUNG_CAM_XUC VALUES (@Thuc_the_cam_xuc,@Hat_giong)
end try
begin catch
end catch
begin try
		select @EID = EID from DAC_TRUNG_CAM_XUC where THUC_THE_CAM_XUC = @Thuc_the_cam_xuc
		INSERT INTO TRONG_SO VALUES (@ID,@EID,@Trong_so,@Khia_Canh)
end try
begin catch
		RAISERROR(N'Thêm thất bại',1,6,N'number')
		set @RET =0
end catch
end
Select @RET


GO
USE [master]
GO
